body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 450px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.section {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
}
.section h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    color: #044181;
    padding-bottom: 8px;
    border-bottom: 2px solid #0056b3;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
textarea {
    resize: vertical;
}
button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 12px;
    width: 50%;
    border: none;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #003f82;
}
.small-note {
    font-size: 13px;
    color: #666;
}
.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 8px 20px;
    margin-left: 20px;
    margin-top: 5px;
}
.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #000000;
}
.checkbox-item input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    cursor: pointer;
}
.checkbox-item label {
    cursor: pointer;
}
.checkbox-item input[type="checkbox"] {
    margin: 0;
    transform: translateY(5px);
}
.radio-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}
.radio-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    cursor: pointer;
}
.radio-item input[type="radio"] {
    margin: 0;
}
.header-logo {
    display: block;
    margin: 0 auto 15px left;
    max-width: 180px;
    height: auto;
    margin-bottom: 20px;
}